<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="DRC_HUBO">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import DRC_HUBO urdf file -->
    <xacro:include filename="$(find hubo_description)/urdf/hubo_and_gripper.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="DRC_HUBO.ros2_control.xacro" />


    <xacro:DRC_HUBO_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
